In [9]:
#question_1
first_name = input("enter the first name :")
second_name = input("enter the second name :")
print(second_name+' '+first_name)

enter the first name :ehab
enter the second name :hab
hab ehab

In [19]:
#question_2
x=input("enter the number : ")
y=x+x
z=x+x+x
w=int(x)+int(y)+int(z)
print(w)

enter the number : 5
615

In [11]:
#question_3
number= input("enter the number :")
z= int(number)%2
if z==0:
    print("%d is even number" % int(number))
else:
    print("%d is odd number" % int(number))

enter the number :5
5 is odd number

In [17]:
#question_4
n = [i for i in range(2000, 3200) if i % 7 == 0 and i % 5 != 0]
print(n)

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

In [13]:
#question_5
f=input("enter the number to get the factorial :")
fact = 1
for b in range(1,int(f)+1):
   fact = fact*b
print(fact)

enter the number to get the factorial :4
24

In [14]:
#question_6
str=input("enter the string :")
for j in range(0,len(str),2):
      print(str[j], end =" ")

enter the string :hab
h b

In [15]:
#question_7
price=input("enyter the price of item :")
if int(price)>500 :
    final_price = int(price)-(int(price)*(50/100))
    print(final_price)
elif 200<int(price)<500 :
    final_price = int(price)-(int(price)*(30/100))
    print(final_price)
else :
    final_price = int(price) - (int(price) * (10 / 100))
    print(final_price)

enyter the price of item :550
275.0