In [9]:
#question_1
first_name = input("enter the first name :")
second_name = input("enter the second name :")
print(second_name+' '+first_name)

enter the first name :ehab
enter the second name :hab
hab ehab

In [10]:
#question_2
x=input("enter the number : ")
y=int(x)+(int(x)*11)+(int(x)*111)
print(y)

enter the number : 5
615

In [11]:
#question_3
number= input("enter the number :")
z= int(number)%2
if z==0:
    print("%d is even number" % int(number))
else:
    print("%d is odd number" % int(number))

enter the number :5
5 is odd number

In [12]:
#question_4
n = [i for i in range(2000, 3200, 5) if i % 7 == 0 ]
print(n)

[2030, 2065, 2100, 2135, 2170, 2205, 2240, 2275, 2310, 2345, 2380, 2415, 2450, 2485, 2520, 2555, 2590, 2625, 2660, 2695, 2730, 2765, 2800, 2835, 2870, 2905, 2940, 2975, 3010, 3045, 3080, 3115, 3150, 3185]

In [13]:
#question_5
f=input("enter the number to get the factorial :")
fact = 1
for b in range(1,int(f)+1):
   fact = fact*b
print(fact)

enter the number to get the factorial :4
24

In [14]:
#question_6
str=input("enter the string :")
for j in range(0,len(str),2):
      print(str[j], end =" ")

enter the string :hab
h b

In [15]:
#question_7
price=input("enyter the price of item :")
if int(price)>500 :
    final_price = int(price)-(int(price)*(50/100))
    print(final_price)
elif 200<int(price)<500 :
    final_price = int(price)-(int(price)*(30/100))
    print(final_price)
else :
    final_price = int(price) - (int(price) * (10 / 100))
    print(final_price)

enyter the price of item :550
275.0